<html>
  <head>
    <title>Contact ..</title>
  </head>
  <body>
    <h1>Contact page</h1>
    <!-- <p1>ID : <% objPerson.id %></p1><br />   //= narakhda code matra jancha-->
    <p1>ID : <%= objPerson.id %></p1><br />
    <p1>NAME : <%= objPerson.name %></p1><br />
    <p1>ADDRESS : <%= objPerson.address %></p1><br />
    <h1>All Persons</h1>
    <table border="1" width="95%"">
    <thead><td>ID</td><td>NAME</td><TD>ADDRESS</TD></thead>
    <% objPersons.forEach((person)=>{%>

      <tr><td><%=person.id%></td><td><%=person.name%></td><TD><%=person.address%></TD></tr>
     
    <%}  ) %>
  </table>
      
    <p>
      <a href="/about"> About </a>| <a href="/service"> Service </a> |
      <a href=""> Contact </a>| <a href="/payment"> Payment </a>
    </p>
    <p><a href="/">Back to home safely </a></p>
  </body>
</html>
